<div class="page-container">
  <h1>Istorija promena cena</h1>

  <div *ngIf="loading" class="loading">Učitavanje...</div>
  <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>

  <div *ngIf="!loading && logs.length === 0" class="empty-state">
    Nema zabeleženih promena cena.
  </div>

  <div *ngIf="!loading && logs.length > 0" class="log-table">
    <div class="table-header">
      <span>Vreme</span>
      <span>Utakmica</span>
      <span>Zona</span>
      <span>Pravilo</span>
      <span>Stara cena</span>
      <span>Nova cena</span>
      <span>Razlika</span>
    </div>
    <div class="table-row" *ngFor="let log of logs">
      <span class="col-time">{{ formatDate(log.changedAt) }}</span>
      <span class="col-game">{{ log.gameLabel }}</span>
      <span class="col-zone">{{ log.zoneName }}</span>
      <span class="col-rule">{{ log.ruleName }}</span>
      <span class="col-price">{{ log.oldPrice | number:'1.2-2' }} RSD</span>
      <span class="col-price">{{ log.newPrice | number:'1.2-2' }} RSD</span>
      <span class="col-diff" [class.up]="log.priceDiff > 0" [class.down]="log.priceDiff < 0">
        {{ log.priceDiff > 0 ? '+' : '' }}{{ log.priceDiff | number:'1.2-2' }} RSD
      </span>
    </div>
  </div>
</div>
