<div class="page-container">
  
  <div class="header-row">
    <h1>Raspored i pregled utakmica</h1>
    
    <button 
      *ngIf="isStatistician" 
      (click)="goToMatchEntry()"
      class="btn-add">
      ➕ Unesi novu utakmicu
    </button>
  </div>
  
  <table class="match-table">
    <thead>
      <tr>
        <th>Datum i vreme</th>
        <th>Domaćin</th>
        <th>Gost</th>
        <th *ngIf="canViewDetails">Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.dateTime | date:'dd.MM.yyyy HH:mm' }}</td>
        <td>{{ match.homeClubName }}</td>
        <td>{{ match.awayClubName }}</td>
        <td *ngIf="canViewDetails">
          <button class="btn-details" (click)="viewMatchDetails(match.id)">Pregled detalja</button>
          <button *ngIf="canGenerateReport" class="btn-report" style="margin-left: 8px;" 
            (click)="downloadReport(match.id)"> 📄 Preuzmi izveštaj </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>