

<div class="page-container">
  <h1 class="page-title">Timovi</h1>

  <div class="actions-header">
    <div class="search-wrapper">
      <input 
        type="text" 
        placeholder="Pretraži klubove..." 
        [(ngModel)]="searchQuery" 
        (input)="onSearchChange(searchQuery)" 
      />
      <span class="search-icon">🔍</span>
    </div>

    <button 
      *ngIf="isAssistantCoach" 
      (click)="goToAddClub()"
      class="btn-add-club">
      + Dodaj klub
    </button>
  </div>

  <div class="clubs-grid">
    <div 
      class="club-card" 
      *ngFor="let club of clubs"
      [class.my-club-card]="club.id === myClubId"
      (click)="goToClubDetails(club.id)"
    >
      <div class="image-placeholder">
        <img *ngIf="club.imagePath" [src]="getClubImageUrl(club.imagePath)"  class="real-club-photo-list" (error)="club.imagePath = ''">

       <svg *ngIf="!club.imagePath" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f8fafc" stroke="#94a3b8" stroke-width="1.2" class="big-placeholder-icon" style="border-radius: 12px; border: 2px dashed #e2e8f0; padding: 15px; box-sizing: border-box;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z" />
          <circle cx="12" cy="10" r="3" fill="#e2e8f0" stroke="none" />
        </svg>

      </div>
      <div class="club-name">{{ club.name }}</div>
      <span *ngIf="club.id === myClubId" class="badge-my">Moj Klub</span>
    </div>
  </div>
</div>