<div class="form-container">
  <h1 class="page-title">Unos kluba</h1>

  <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      
      <div class="column left-column">
        <div class="input-group">
          <label for="naziv">Naziv</label>
          <input id="naziv" type="text" formControlName="naziv" />
        </div>

        <div class="input-group">
          <label for="lokacija">Lokacija</label>
          <input id="lokacija" type="text" formControlName="lokacija" />
        </div>
        
        <div class="input-group">
          <label for="pobede">Pobede</label>
          <input id="pobede" type="number" formControlName="pobede" />
        </div>

        <div class="input-group">
          <label for="porazi">Porazi</label>
          <input id="porazi" type="number" formControlName="porazi" />
        </div>

        <div class="input-group">
          <label for="neresene">Nerešene</label>
          <input id="neresene" type="number" formControlName="neresene" />
        </div>

        <div class="input-group">
          <label for="golovi">Golovi</label>
          <input id="golovi" type="number" formControlName="golovi" />
        </div>

        <div class="input-group">
          <label for="primljeniGolovi">Primljeni golovi</label>
          <input id="primljeniGolovi" type="number" formControlName="primljeniGolovi" />
        </div>

        <div class="input-group">
          <label for="prosecanPosed">Prosečan posed</label>
          <input id="prosecanPosed" type="number" formControlName="prosecanPosed" />
        </div>
      </div>

      <div class="column right-column">
        <div class="input-group">
          <label for="faulovi">Faulovi</label>
          <input id="faulovi" type="number" formControlName="faulovi" />
        </div>

        <div class="input-group">
          <label for="prosecnoDodavanja">Prosečno uspešnih<br>dodavanja</label>
          <input id="prosecnoDodavanja" type="number" formControlName="prosecnoDodavanja" />
        </div>
      </div>
      
    </div>

    <div class="submit-wrapper">
      <button type="submit" class="submit-btn" [disabled]="clubForm.invalid">Potvrdi</button>
    </div>
  </form>
</div>