<nav class="navbar">
  <div class="navbar-brand" (click)="onLogoClicked()">
    Fudbalski Klub
  </div>

  <div class="navbar-actions">
    <ng-container *ngIf="isLoggedIn && (userRole === 'ROLE_HEAD_COACH' || userRole === 'ROLE_ASSISTANT_COACH')">
      <button class="nav-btn" (click)="router.navigate(['/clubs'])">Klubovi</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && (userRole === 'ROLE_HEAD_COACH' || userRole === 'ROLE_ASSISTANT_COACH' || userRole === 'ROLE_STATISTICIAN')">
      <button class="nav-btn" (click)="router.navigate(['/matches'])">Mečevi</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && (userRole === 'ROLE_HEAD_COACH' || userRole === 'ROLE_STATISTICIAN')">
      <button class="nav-btn" (click)="router.navigate(['/upcoming-matches'])">Predstojeći mečevi</button>
      <button class="nav-btn" (click)="router.navigate(['/live-match-finder'])">Utakmica uživo</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && userRole === 'ROLE_ASSISTANT_COACH'">
      <button class="nav-btn" (click)="router.navigate(['/add-player'])">Dodavanje igrača</button>
    </ng-container>

    <ng-container *ngIf="(isLoggedIn && userRole === 'ROLE_SCOUT')">
      <button class="nav-btn" (click)="onReportsClick()">Izveštaji</button>
      <button class="nav-btn" (click)="onRequestsClick()">Zahtevi</button>
    </ng-container>

    <ng-container *ngIf="(isLoggedIn && userRole === 'ROLE_SPORTS_DIRECTOR')">
      <button class="nav-btn" (click)="onMetricsClick()">Metrike</button>
      <button class="nav-btn" (click)="onWishlistsClick()">Liste Želja</button>
      <button class="nav-btn" (click)="onRequestsClick()">Zahtevi</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && userRole === 'ROLE_BUYER'">
      <button class="nav-btn" (click)="router.navigate(['/search-matches'])">Kupovina karata</button>
      <button class="nav-btn" (click)="router.navigate(['/my-tickets'])">Moje karte</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && userRole === 'ROLE_ADMIN'">
      <button class="nav-btn" (click)="router.navigate(['/zones'])">Zone</button>
      <button class="nav-btn" (click)="router.navigate(['/ticket-types'])">Tipovi karata</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <button class="nav-btn logout-btn" (click)="onLogoutClick()">Izloguj Se</button>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
      <button class="nav-btn login-btn" (click)="onLoginClick()">Uloguj Se</button>
    </ng-container>
  </div>
</nav>